{% extends 'base.html' %}
{% block content %} 
<body style="background: url('https://media.istockphoto.com/id/1415561802/vector/pink-background-empty-room-display-3d-studio-with-shelf-pink-pastel-gallery-room-with-copy.jpg?s=612x612&w=0&k=20&c=r-_V7qj1iraUthBM8oEQQkJw32VBLxxpQ2lhh3IgeuM=') 
                         no-repeat center center fixed; 
                         background-size: cover; height: 100vh;">

</body>
<div class="container">
  <header>

  <!-- content -->
  <section class="py-5">
    <div class="container">
      <div class="row gx-5">
        {% for item in furniture %}
        <aside class="col-lg-6">
          <div class="d-flex justify-content-center mb-3">
            <a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank" data-type="image" href="#" class="item-thumb">
              <img class="rounded-2" src="/static/images/{{item.image}}" />
            </a>
          </div>
          <!-- thumbs-wrap.// -->
          <!-- gallery-wrap .end// -->
        </aside>
        <main class="col-lg-6 ">
          <div class="ps-lg-3">
            <h4 class="title text-dark">
              <span class="badge bg-secondary"> {{item.itemsid.name}} </span>
            </h4>
            <div class="d-flex flex-row my-3">
              <div class="text-warning mb-1 me-2">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <span class="fs-3">
                  {{item.qty}} pcs
                </span>
              </div>
              <span class="text-success fs-3">In stock</span>
            </div>
  
            <div class="mb-3">
              <span class="h5">{{item.price}} SAR <span>
              <span class="text-muted">/per peice</span>
            </div>
  
            <p>
              Effortlessly blending modern and rustic elements, this {{item.itemsid.name}} radiates warmth and style.  Natural accents, and curated artwork create an inviting atmosphere.
            </p>
  
            <div class="row">
              <dt class="col-3">Type:</dt>
              <dd class="col-9">{{item.material}}</dd>
  
              <dt class="col-3">Color:</dt>
              <dd class="col-9">{{item.color}}</dd>
  
  
              <dt class="col-3">Brand:</dt>
              <dd class="col-9">{{item.itemsid.name}}</dd>
            </div>
  
            <hr />
  
            <div class="row mb-4">
              <div class="col-md-4 col-6">
                <label class="mb-2">Size</label>
                <select class="form-select border border-secondary" style="height: 35px;">
                  <option>A</option>
                  <option>B</option>
                  <option>C</option>
                  <option>D</option>
                </select>
              </div>
              <!-- col.// -->
              <div class="col-md-4 col-6 mb-3">
                <label class="mb-2 d-block">Quantity</label>
                <div class="input-group mb-3" style="width: 170px;">

                  <input type="text" class="form-control text-center border border-secondary" placeholder="{{item.qty}}" aria-label="Example text with button addon" aria-describedby="button-addon1" />

                </div>
              </div>
            </div>
            <a href="{% url 'HomeCheckout' id=item.id %}" class="btn btn-warning shadow-0"> Buy now </a>
            <a href="{% url 'add_to_homecart' id=item.id%}" class="btn btn-primary shadow-0"> <i class="me-1 fa fa-shopping-basket"></i> Add to cart </a>
            <a href="#" class="btn btn-light border border-secondary py-2 icon-hover px-3"> <i class="me-1 fa fa-heart fa-lg"></i> Save </a>
          </div>
        </main>
        {% endfor %}
      </div>
    </div>
  </section>

{% endblock %}
